:root {
    --primario: #77f485;
    --secundario: #11991c;
    --gris: #757575;
    --azul: #0097A7;
    --blanco: #ffffff;
    --negro: #000000;
    --azul2: #5bcad6;
    --naranja: #e26111;
}
html{
    font-size: 62.5%;
}
body{
    font-size: 16px; /* 1rem es igual a 10px */
    font-family: Arial, Helvetica, sans-serif;
}

h1 {
    text-align: center ;
    font-size: 2rem;

} 

.centrar {
    width: 0 auto;
}
.nav-principal {
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 100;
    background-color: var(--secundario) ;

}
.nav-principal ul {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;

}
.nav-principal li {
    margin: 0;
}
.nav-principal a {
    display: block;
    padding: 2rem;
    font-weight: bold;
    letter-spacing: 1px;
    color: var(--negro);
    text-decoration: none;
    font-size: 2rem;
}


main   {
    display: grid;
    grid-template-columns: 3fr 1fr;

}
.nav-principal a:hover{
    background-color: var(--naranja);
    color: var(--blanco);
}